<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div th:replace="~{base :: titulo('Análise de transações suspeitas')}"></div>

    <div th:if="${error != null}" class="alert alert-danger" role="alert">
        <span th:text="${error}"></span>
    </div>

    <div class="card">
        <h5 class="card-header">
            Selecione o mês para analisar as transações
        </h5>
        <form class="card-body" method="post" th:action="@{/transactions/analyse}" th:object="${suspectTransactionForm}">
            <div class="mb-3">
                <input required type="date" class="form-control" th:field="*{date}">
            </div>
            <button class="btn btn-primary" type="submit">Realizar análise</button>
        </form>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h5>Transações suspeitas</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="3" class="text-center">Origem</th>
                        <th colspan="3" class="text-center">Destino</th>
                        <th rowspan="2" class="text-center align-middle">Valor</th>
                    </tr>
                    <tr>
                        <th>Banco</th>
                        <th>Agência</th>
                        <th>Conta</th>
                        <th>Banco</th>
                        <th>Agência</th>
                        <th>Conta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="st : ${suspectTransactions}">
                        <td th:text="${st.sourceBank.bank}"></td>
                        <td th:text="${st.sourceBank.agency}"></td>
                        <td th:text="${st.sourceBank.account}"></td>
                        <td th:text="${st.destionationBank.bank}"></td>
                        <td th:text="${st.destionationBank.agency}"></td>
                        <td th:text="${st.destionationBank.account}"></td>
                        <td th:text="${'R$ ' + #numbers.formatDecimal(st.totalAmount,3,'POINT',2,'COMMA')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h5>Contas suspeitas</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Banco</th>
                    <th>Agência</th>
                    <th>Conta</th>
                    <th>Valor movimentado</th>
                    <th>Tipo movimentação</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sa : ${suspectAccounts}">
                    <td th:text="${sa.bank.bank}"></td>
                    <td th:text="${sa.bank.agency}"></td>
                    <td th:text="${sa.bank.account}"></td>
                    <td th:text="${'R$ ' + #numbers.formatDecimal(sa.amount,3,'POINT',2,'COMMA')}"></td>
                    <td th:text="${sa.movimentType.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h5>Agências suspeitas</h5>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Banco</th>
                    <th>Agência</th>
                    <th>Valor movimentado</th>
                    <th>Tipo movimentação</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sa : ${suspectAgencies}">
                    <td th:text="${sa.bank.bank}"></td>
                    <td th:text="${sa.bank.agency}"></td>
                    <td th:text="${'R$ ' + #numbers.formatDecimal(sa.amount,3,'POINT',2,'COMMA')}"></td>
                    <td th:text="${sa.movimentType.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>