<!DOCTYPE html>
<html lang="en">
<head th:replace="~{base :: head}"></head>
<body>
<div th:replace="~{base :: logo}"></div>
<div class="container">
    <div th:replace="~{base :: titulo('Login')}"></div>

    <div class="card mb-3">
        <form class="card-body" th:action="@{/login/home}" method="post">
            <div class="form-group mb-3">
                <label class="form-label" for="username">Usuário</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="usuário" />
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="password">Senha</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="senha" />
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>

</div>
</body>
</html>